

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

:root{
    --main-color: #2890b9;
    --red:red;
    --light-color:#777;
    --light-bg:#eee;
    --black:#2c3e50;
    --white:#fff;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.2);
}

body{
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0 auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr auto;
    /* grid-template-rows: 100px 2000 70px; */
    /* background-color: rgb(15, 143, 242); */
    gap: 20px;
}
.container div{
    /* background-color: aquamarine; */
}
.container .Header{
    grid-column: 1/ span 2;
}
.container .footer{
    grid-column: 1/ span 2;
}

/* Header */
.Header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f5f2f2;
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.2);
    /* display: none; */
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
}
    .ul1{
        position: sticky;
        right: 10px;
    }
    .nav div a i{
        font-size:50px;
        display: none;
    }
    .nav .ul1 li{
        /* background-color: yellowgreen; */
        list-style-type: none;
        float: left;
        padding: 20px;
    }
    #logo1{
        height: 30px;
    }

    .submenu{
        background-color: rgb(190, 186, 186);
        position: absolute;
        visibility:hidden;
        transition: .2 ease-in-out;
    }
    
    .submenu a{
        display:block;
        padding: 10px;
        z-index: 1000;
        /* border-radius: 0.5rem; */
    }
    .submenu a:hover{
        background-color: coral;
    }
    .hover1:hover #sub1{
        visibility: visible;
    }
    .hover2:hover #sub2{
        visibility: visible;
    }


    .tonggle__button{
        position: sticky;
        right: 10px;
        font-size: 2rem;
        display: none;
    }

/* Main */
.main{
    display: block;
}
.main-gridcontainer{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 100px auto 100px auto;
    gap: 5px;
    
    
}
    .main-gridcontainer div{
        /* background-color: coral; */
        padding: 20px;
        text-align: center;
    }
    .main-gridcontainer .level{
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        /* background-color:rgb(155, 159, 158); */
        
    }
        .main-gridcontainer .level ul{
            padding: 10px;
            margin: 2px;
            /* background-color: bisque; */
        }
        .main-gridcontainer .level li{
            list-style-type: none;
            float: left;
            padding: 10px;
            margin-left: 2px;
            border-radius: 7%;
            /* background-color: aquamarine; */

        }
        .main-gridcontainer .level li a{
            text-decoration: none;
            color: black;
            
        }
        .main-gridcontainer .level li:hover{
            background-color: aliceblue;
        }
    .main-gridcontainer .game{
        padding: 0px;
        grid-row: 2/ span 3;
    }
    .main-gridcontainer .item3{
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }
    .main-gridcontainer .icon{
        padding: 10px;
        
    }
        .main-gridcontainer .icon .game-control{
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 2px;
        background-color: aliceblue;
        border-radius: .5rem;
        }
        .main-gridcontainer .icon .game-control div{
            padding: 10px;
        }
    
    .main-gridcontainer .item5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
        .main-gridcontainer .item5 div{
            border: 1px solid black;
            border-collapse: collapse;
            margin: 2px;
            border-radius: 5%;
            background-color: aliceblue;
        }
    .main-gridcontainer .item6{
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .main-gridcontainer .item6 a{
            color: white;
            text-decoration: none;
            background-color: rgb(6, 135, 255);
            line-height: 40px;
            width: 250px;
            border: solid 1px;
            border-radius: .5rem;
        }
    .main-gridcontainer .item7{
        grid-column: 1/ span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

       

    }
/* Footer */
.footer{
    padding: 0px;
    bottom: 0px;
    background-color: var(--black);
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    color: #fff;
    
}
.footer-container div{
    padding: 10px;
    /* background-color: rgb(106, 102, 100); */
    color: #fff;
}
.footer-container div a{
    color: #fff;
}
.footer-container .fitem2 a{
    display: block;
}
.footer-container .fitem3 a{
    display: block;
}
.footer-container .fitem5 i{
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.footer-container .fitem6{
    grid-column: 1/ span 4;
    font-size: 10px;
    padding-top: 10px;
}
.footer-container .fitem7 a{
    padding-right: 10px;
}
/* popup Quảng Cáo */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .close-btn {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

/* Pageup button */
.PageUp i{
    font-size: 40px;
    position: fixed;
    left: 87vw;
    bottom: 50px;
    z-index: 999;
    cursor: pointer;
    padding: 0;
}


.DropDown{
    display: none;
}

@media (max-width: 450px){
    .tonggle__button{
        display: block;
    }
    #hiddenul{
        display: none;
    }
}

@media (max-width: 800px){
    .tonggle__button{
        display: block;
    }
    #hiddenul{
        display: none;
    }
    #hiddenul li a{
        background-color: yellow;
        gap: 2px;
        display: block;
    }

    .Header .DropDown{
        display: block;
        position: absolute;
        top: 100%;right:0; left: 0;
        background-color: var(--black);
        padding: 1rem .5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .Header .DropDown.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .Header .DropDown a{
        display: block;
        padding: 1rem;
        color: var(--white);
    }
    .Header .DropDown a:hover{
        background-color: var(--light-color);
    }




    .main-gridcontainer{
        display: flex;
        flex-direction: column;
    }



    .footer{
        background-color: var(--black);
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .footer-container div{
            text-align: center;
            display: flex;
        }
        .footer-container div a{
            padding-left: 2rem;
        }
}

@media (max-width: 1200px){
    
}
